.container {
    width: 40px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
}

.ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 2px;
    
}